<section class="container-home">
  <div class="container-titulo">
    <h1 class="titulo">
      <span class="fonte-laranja">D</span>avid
      <span class="fonte-azul">G</span>omes
    </h1>
    <h5 class="subtitulo">
      ipsum dolor sit amet consectetur adipisicing elit. Quos, vitae.
      Exercitationem atque officiis fuga vitae magnam, quasi sunt ab blanditiis
      eius sapiente, velit iusto quam, nisi ipsa aliquam quia voluptates?
    </h5>
  </div>

  <div class="container-img">
    <div>
      <img
        id="img-david"
        src="../../assets/david-perfil.png"
        alt="Foto do desenvoldedor david gomes"
      />
    </div>
  </div>
</section>
