#img-david {
  width: 500px;
}

.fonte-laranja {
  color: #d68700;
}

.fonte-azul {
  color: #00e7c7;
}

.container-home {
  padding-top: 100px;
  display: flex;
  align-items: center;
}

.container-titulo {
  padding-left: 50px;
  /*background-color: aqua;*/
}

.subtitulo {
  /*background-color: #d68700;*/
}

.titulo {
  margin-top: 10px;
  /*background-color: #88662a;*/
}

.container-img {
  padding-right: 30px;
  /*background-color: chartreuse;*/
}

@media (max-width: 800px) {
  .container-home {
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 50px;
  }

  .container-img {
    padding: 0;
    /*background-color: chartreuse;*/
  }
  .container-titulo {
    padding: 0 30px 0 30px;
  }

  #img-david {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .container-home {
    padding-top: 20px;
  }
  #img-david {
    width: 200px;
  }
}
